# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [2]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [10]:
df1 = pd.read_csv('location.csv') #pd.read_csv allows python to read your csv onto the code
df2 = pd.read_csv('ratings.csv')
df3 = pd.read_csv('zomato.csv')

merged_df_temp = pd.merge(df1, df2, on='id') #pd.merge can only merge 2 .csv files at a time that is why I used merged_df_temp
merged_df = pd.merge(merged_df_temp, df3, on='id')

In [8]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [102]:
def exercise_2(merged_df):
    res_series = merged_df.groupby('city')['aggregate_rating'].mean() #.mean gets the aggregate average for each city
    return res_series

print(res_series)

city
Caloocan City       1.953509
Las Piñas City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Manila              2.842652
Marikina City       2.672512
Muntinlupa City     2.962682
Parañaque City      3.130100
Pasay City          3.302075
Pasig City          2.916086
Pateros City        1.740000
Quezon City         2.887946
San Juan City       3.098462
Tagaytay City       2.959259
Taguig City         3.234105
Valenzuela City     1.890741
Name: aggregate_rating, dtype: float64

In [18]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [43]:
def rating_to_numeric(rating):
    if rating == 'Excellent':
        return 5 #meaning if the rating is labeled as "excellent", the new column will return 5
    elif rating == 'Very Good':
        return 4
    elif rating == 'Good':
        return 3
    elif rating == 'Average':
        return 2
    elif rating == 'Poor':
        return 1
    else:  # Not rated
        return 0 #meaning if it is not rated it will return 0

merged_df['rating_numeric'] = merged_df['rating_text'].apply(rating_to_numeric)

In [35]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [111]:
def exercise_4(merged_df, city):
    # Filter rows by city
    filtered_df = merged_df[merged_df['city'].str.contains(city, case=False, na=False)] #case = false means that capitalization doesnt matter
    return filtered_df  # Return the filtered DataFrame

# Example usage
city_input = 'pasig City' #CHANGE THIS TO WHATEVER CITY YOU NEED DATA FOR
filtered_result = exercise_4(merged_df, city_input)  # Call the function

# Print the result
print(filtered_result)

            id                                            address        city  \
9      6309903       75 East Capitol Drive, Kapitolyo, Pasig City  Pasig City
16    18506282  Ground Floor, Ayala Malls The 30th, Meralco Av...  Pasig City
23     6309635  Ground Floor, City Golf Plaza, Julia Vargas Av...  Pasig City
41     6314987  Brixton Technology Center, 10 Brixton Street, ...  Pasig City
45     6313582                  1st Street, Kapitolyo, Pasig City  Pasig City
...        ...                                                ...         ...
6137   6306470  The Grove By Rockwell, E. Rodriguez Jr. Avenue...  Pasig City
6439  18700988  Ground Floor, Unimart Supermarket, Oranbo, Pas...  Pasig City
6440  18718463  Unimart Capitol Commons, Meralco Avenue Corner...  Pasig City
6441  18700985  Ground Floor, Unimart Supermarket, Oranbo, Pas...  Pasig City
6755  18415076  Ground Floor, Grand Emerald Tower, Ortigas Jr....  Pasig City

      city_id  country_id   latitude                                 locality  \
9          63         162  14.567615                                Kapitolyo
16         63         162  14.580743  Ayala Malls The 30th, Ugong, Pasig City
23         63         162  14.584691       City Golf Plaza, Ugong, Pasig City
41         63         162  14.571722                                Kapitolyo
45         63         162  14.573922                                Kapitolyo
...       ...         ...        ...                                      ...
6137       63         162  14.586303                                    Ugong
6439       63         162  14.574596                                   Oranbo
6440       63         162  14.575094                                   Oranbo
6441       63         162  14.574758                                   Oranbo
6755       63         162  14.588399                                  Ortigas

                                       locality_verbose   longitude  zipcode  \
9                                 Kapitolyo, Pasig City  121.057922      NaN
16    Ayala Malls The 30th, Ugong, Pasig City, Pasig...  121.064060      NaN
23       City Golf Plaza, Ugong, Pasig City, Pasig City  121.067422      NaN
41                                Kapitolyo, Pasig City  121.056609      NaN
45                                Kapitolyo, Pasig City  121.060598      NaN
...                                                 ...         ...      ...
6137                                  Ugong, Pasig City  121.080022      NaN
6439                                 Oranbo, Pasig City  121.062297      NaN
6440                                 Oranbo, Pasig City  121.061908      NaN
6441                                 Oranbo, Pasig City  121.062313      NaN
6755                                Ortigas, Pasig City  121.061205      NaN

      ...  is_table_reservation_supported is_zomato_book_res  \
9     ...                               0                0.0
16    ...                               1                0.0
23    ...                               0                0.0
41    ...                               0                0.0
45    ...                               0                0.0
...   ...                             ...                ...
6137  ...                               0                0.0
6439  ...                               0                0.0
6440  ...                               0                0.0
6441  ...                               0                0.0
6755  ...                               0                0.0

                                               menu_url  mezzo_provider  \
9     https://www.zomato.com/manila/silantro-fil-mex...           OTHER
16    https://www.zomato.com/manila/sibyullee-ugong-...           OTHER
23    https://www.zomato.com/frankieswings/menu?utm_...           OTHER
41    https://www.zomato.com/manila/locavore-kapitol...           OTHER
45    https://www.zomato.com/manila/kanto-freestyle-...           OTHER
...                                                 ...             ...
6137  https://www.zomato.com/manila/starbucks-1-ugon...           OTHER
6439  https://www.zomato.com/manila/pezzo-oranbo-pas...           OTHER
6440  https://www.zomato.com/manila/fruiteria-juices...           OTHER
6441  https://www.zomato.com/manila/de-original-jama...           OTHER
6755  https://www.zomato.com/manila/cocow-barn-ortig...           OTHER

                                                name  \
9                                   Silantro Fil-Mex
16                                         Sibyullee
23                  Frankie's New York Buffalo Wings
41                                          Locavore
45                         Kanto Freestyle Breakfast
...                                              ...
6137                                       Starbucks
6439                                           Pezzo
6440                                Fruiteria Juices
6441  de Original Jamaican Pattie Shop and Juice Bar
6755                                      Cocow Barn

                                             photos_url price_range  \
9     https://www.zomato.com/manila/silantro-fil-mex...           3
16    https://www.zomato.com/manila/sibyullee-ugong-...           4
23    https://www.zomato.com/frankieswings/photos?ut...           3
41    https://www.zomato.com/manila/locavore-kapitol...           3
45    https://www.zomato.com/manila/kanto-freestyle-...           2
...                                                 ...         ...
6137  https://www.zomato.com/manila/starbucks-1-ugon...           2
6439  https://www.zomato.com/manila/pezzo-oranbo-pas...           1
6440  https://www.zomato.com/manila/fruiteria-juices...           1
6441  https://www.zomato.com/manila/de-original-jama...           1
6755  https://www.zomato.com/manila/cocow-barn-ortig...           1

                                                  thumb  \
9     https://b.zmtcdn.com/data/pictures/chains/3/63...
16    https://b.zmtcdn.com/data/pictures/2/18506282/...
23    https://b.zmtcdn.com/data/res_imagery/6309635_...
41    https://b.zmtcdn.com/data/pictures/chains/7/63...
45    https://b.zmtcdn.com/data/pictures/chains/8/63...
...                                                 ...
6137  https://b.zmtcdn.com/data/pictures/chains/5/63...
6439  https://b.zmtcdn.com/data/res_imagery/18305223...
6440                                                NaN
6441  https://b.zmtcdn.com/data/pictures/chains/0/63...
6755  https://b.zmtcdn.com/data/reviews_photos/b22/4...

                                                    url rating_numeric
9     https://www.zomato.com/manila/silantro-fil-mex...              5
16    https://www.zomato.com/manila/sibyullee-ugong-...              5
23    https://www.zomato.com/frankieswings?utm_sourc...              4
41    https://www.zomato.com/manila/locavore-kapitol...              5
45    https://www.zomato.com/manila/kanto-freestyle-...              3
...                                                 ...            ...
6137  https://www.zomato.com/manila/starbucks-1-ugon...              3
6439  https://www.zomato.com/manila/pezzo-oranbo-pas...              0
6440  https://www.zomato.com/manila/fruiteria-juices...              0
6441  https://www.zomato.com/manila/de-original-jama...              0
6755  https://www.zomato.com/manila/cocow-barn-ortig...              2

[373 rows x 36 columns]

In [98]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [160]:
def exercise_5(merged_df, cols_to_filter):
    filtered_df2 = merged_df[cols]
    return filtered_df2

columns_to_keep = ['average_cost_for_two', 'book_url']  # Specify which columns to keep
filtered_result1 = exercise_5(merged_df, columns_to_keep)

print(filtered_result1)

      average_cost_for_two book_url  \
0                     1000      NaN
1                     1300      NaN
2                     1600      NaN
3                     1000      NaN
4                     3000      NaN
...                    ...      ...
6825                  1000      NaN
6826                   400      NaN
6827                   450      NaN
6828                  1000      NaN
6829                   600      NaN

                                        cuisines currency  \
0                                Japanese, Ramen        P
1                      Korean, Grill, Korean BBQ        P
2                             American, Filipino        P
3                                         Korean        P
4     Seafood, American, Mediterranean, Japanese        P
...                                          ...      ...
6825                              Deli, Filipino        P
6826                                   Fast Food        P
6827                            Bakery, Filipino        P
6828                           American, Italian        P
6829                            Pizza, Fast Food        P

                          deeplink  \
0      zomato://restaurant/6316125
1     zomato://restaurant/18409457
2      zomato://restaurant/6307689
3     zomato://restaurant/18581637
4      zomato://restaurant/6315438
...                            ...
6825  zomato://restaurant/18635649
6826   zomato://restaurant/6318581
6827   zomato://restaurant/6318578
6828   zomato://restaurant/6309612
6829   zomato://restaurant/6318582

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
3     https://www.zomato.com/manila/romantic-baboy-t...
4     https://www.zomato.com/manila/niu-by-vikings-b...
...                                                 ...
6825  https://www.zomato.com/manila/trader-juans-fil...
6826  https://www.zomato.com/manila/jollibee-north-c...
6827  https://www.zomato.com/manila/goldilocks-north...
6828  https://www.zomato.com/manila/red-buffalo-wing...
6829  https://www.zomato.com/manila/greenwich-north-...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
3     https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
4     https://b.zmtcdn.com/data/pictures/chains/8/63...                    0
...                                                 ...                  ...
6825                                                NaN                    0
6826  http://b.zmtcdn.com/data/pictures/chains/0/630...                    0
6827  https://b.zmtcdn.com/data/res_imagery/6300003_...                    0
6828  https://b.zmtcdn.com/data/res_imagery/6309612_...                    0
6829  https://b.zmtcdn.com/data/pictures/chains/2/63...                    0

      has_table_booking  include_bogo_offers  is_book_form_web_view
0                     0                 True                    0.0
1                     0                 True                    0.0
2                     0                 True                    0.0
3                     0                 True                    0.0
4                     0                 True                    0.0
...                 ...                  ...                    ...
6825                  0                 True                    0.0
6826                  0                 True                    0.0
6827                  0                 True                    0.0
6828                  0                 True                    0.0
6829                  0                 True                    0.0

[6830 rows x 11 columns]

In [142]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [188]:
#Most common restaurant is Starbucks

common_restaurant = merged_df['name'].mode(0)
print(common_restaurant)

0    Starbucks
Name: name, dtype: object

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [204]:
#The Tasting Room, with the average cost of Php 10,000

most_expensive_restaurant = merged_df[merged_df['average_cost_for_two'] == merged_df['average_cost_for_two'].max()] #this code filters the data to get the most expensive restaurant

print(most_expensive_restaurant[['name', 'average_cost_for_two']])

                  name  average_cost_for_two
1713  The Tasting Room                 10000

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [212]:
#6,713 restaurants do not have a zipcode

no_zipcode = merged_df['zipcode'].isnull().sum() 
#.isnull creates a boolean series that makes true a missing value
#.sum counts number of true values
print(no_zipcode)

6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [216]:
#0 restaurants do online deilvery

online_delivery = merged_df['has_online_delivery'].sum() #.sum counts the amount of 1 since 1 = true

print(online_delivery)

0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [234]:
#Salcedo has the more expensive costs with an amount of Php 989

avg_cost_poblacion = int(merged_df[merged_df['locality'] == 'Poblacion']['average_cost_for_two'].mean())
avg_cost_salcedo = int(merged_df[merged_df['locality'] == 'Salcedo Village']['average_cost_for_two'].mean())

print(f'Average Poblacion Cost:Php {avg_cost_poblacion}')
print(f'Average Salcedo Cost:Php {avg_cost_salcedo}')

Average Poblacion Cost:Php 898
Average Salcedo Cost:Php 989